{"rootRegion":{"id":5,"name":"Region 0","children":[{"id":1,"name":"Town","children":[{"id":1,"name":"Tavern \"Broken leg\"","characters":[{"id":"","name":"Bernard","description":"","race":"Human","profession":"Cleric","type":"Character"},{"id":"","name":"Bromgar","description":"Drinks a lot","race":"Elf","profession":"Barbarian","type":"Character"}],"type":"Place"},{"id":22,"name":"Church","children":[{"id":6,"name":"Hall","characters":[{"id":"","name":"Luisian","description":"Secretly worships Devil","race":"Ork","profession":"Episcope","type":"Character"},{"id":"","name":"Hardry","description":"","race":"Half-Elf","profession":"Bard","type":"Character"}],"type":"Place"},{"id":7,"name":"Small room","characters":[{"id":"","name":"Marian","description":"","race":"Gnom","profession":"Cleric","type":"Character"}],"type":"Place"}],"type":"Region"}],"type":"Region"}],"type":"Region"}}
